<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>文章分类</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/categary.css">
	<link rel="icon" href="__PUBLIC__/favicon.ico">
</head>
<body>
	<div id="categary">
		<div id="categary-name">
			<ol>
				<foreach name="categary" item="v">
					<li>
						{$v.name}
						<a href="{:U('Admin/Index/catdel', array('id' => $v['id']))}" style="display: inline-block;">删除</a>
					</li>
				</foreach>
			</ol>
		</div>
		<div id="add-cat">
			<form action="{:U('Admin/Index/addcat')}" method="POST">
				<input type="text" name="name" placeholder="分类名">
				<input type="submit" name="submit" value="添加">
			</form>
		</div>
	</div>
</body>
</html>