<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>信息</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/info.css">
	<link rel="icon" href="__PUBLIC__/favicon.ico">
</head>
<body>
	<div id="info">
		<div id="card">
			<div id="username">用户:{$info['username']}</div>
			<div id="logintime">登录时间:{$info['logintime']|date = 'Y-m-d H:i:s', ###}</div>
			<div id="loginip">登录IP:{$info['loginip']}</div>
		</div>
	</div>
</body>
</html>