<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>其他</title>
	<link rel="icon" href="__PUBLIC__/favicon.ico">
	<link rel="stylesheet" href="__PUBLIC__/Css/other.css">
</head>
<body>
	<div id="basic-info">
		<p>名字:{$info[0]['name']}</p>
		<p>电话:{$info[0]['telephone']}</p>
		<p>邮箱:{$info[0]['email']}</p>
	</div>
	<div id="basic-info-form">
		<form action="{:U('Admin/Index/addbasic')}" method="POST">
			<input type="text" name="name" placeholder="名称"><br>
			<input type="tel" name="tel" placeholder="电话"><br>
			<input type="email" name="email" placeholder="邮箱"><br>
			<input type="submit" name="submit" value="保存">
		</form>
	</div>
</body>
</html>