<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>管理</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/settings.css">
	<link rel="icon" href="__PUBLIC__/favicon.ico">
</head>
<body>
	<div id="table">
		<table border="1">
			<tr>
				<th>标题</th>
				<th>创建时间</th>
				<th>访问</th>
				<th>喜欢</th>
				<th>管理</th>
			</tr>
			<foreach name="list" item="v">
				<tr>
					<td id="title">{$v.title}</td>
					<td id="time">{$v.time|date = "Y-m-d H:i", ###}</td>
					<td id="viewed">{$v.viewed}</td>
					<td id="like">{$v.like}</td>
					<td id="del"><a href="{:U('Admin/Index/del', array('id' => $v['id']))}">删除</a></td>
				</tr>
			</foreach>
		</table>
		<div id="page">{$page}</div>
	</div>
</body>
</html>