<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>文章显示</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/show.css">
</head>
<body>
	<div id="show">
		<foreach name="show" item="v">
			<article class="article">
				<div id="top">
					<h1>{$v.title}</h1>
					<p id="info"><span id="author">By:{$v.author}</span>&nbsp;&nbsp;&nbsp;<span id="viewed">被围观过:{$v.viewed}次</span><span id="categary" style="margin-left: 10px;">|分类:{$v[categary][name]}</span></p>
					<hr>
				</div>
				<div id="body">
					{$v.content|htmlspecialchars_decode|strip_tags}
				</div>
				<div id="bottom">
					<hr>
					<div id="time">
						{$v.time|date="Y-m-d H:i", ###}
					</div>
				</div>
			</article>
		</foreach>
	</div>
</body>
</html>