<!DOCTYPE html>
<html lang="en">
<head>
	<title>JEFF'BLOG</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/homework-winter.css">
	<script type="text/javascript" src="__PUBLIC__/Js/homework-winter.js"></script>
	<style type="text/css">
		#body{background-image: url(__PUBLIC__/Picture/winter.jpg);}
	</style>
</head>
<body>
	<div id="body">
		<div class="top">
				<div class="logo">
					<i class="iconfont">J&#xe62f;FF'blog</i>
				</div>
				<div id="Clock">
					<p id="Clock1"></p>
					<p id="Clock2"></p>
				</div>
				<div class="poetry">
					<li id="title">南秦雪</li>
					<li id="author">[唐] &nbsp &nbsp &nbsp 元稹</li>
					<li id="content1">才见岭头云似盖，已惊岩下雪如尘。</li>
					<li id="content2">千峰笋石千株玉，万树松萝万朵云。</li>
				</div>
		</div>
		<div class="middle">
			<div class="nav">
				<nav id="topnav">
				<a href="{:U('Home/Index/index')}" class="spring">春</a>
				<a href="{:U('Home/Index/summer')}" class="summer">夏</a>
				<a href="{:U('Home/Index/autumn')}" class="autumn">秋</a>
				<a href="{:U('Home/Index/winter')}" id="topnav_current" class="winter">冬</a>
				</nav>
				</div>
			<div class="left">
				<article>
					<div class="blog">
						<h1><a href="{:U('Home/Index/content', array('id' => $content[3]['id']))}" style="color: white;">{$content[3]['title']}</a></h1>
					</div>
					<div class="blog">{$content[3]['content']|htmlspecialchars_decode}</div>
					<div class="blog"></div>
				</article>
			</div>
			<div class="right">
				<div class="myself"></div><br><br>
				<h2>关于我</h2>
				<p><i class="iconfont2">&#xe638;</i>姓名：{$info[0]['name']}</p>
				<p><i class="iconfont2">&#xe6b4;</i>职业：学生 ==> <a href="http://www.cqupt.edu.cn/cqupt/index.shtml">我的母校</a></p>
				<p><a href="http://map.baidu.com/" target="_blank"><i class="iconfont2">&#xe650;</i>籍贯：重庆</a></p>
				<p><i class="iconfont2">&#xe67e;</i>电话：134521****5</p>
				<p><a href="http://www.hao123.com/mail" title="给我发邮件^_^" target="_blank"><i class="iconfont2">&#xe62c;</i>邮箱：</br>1468401336@qq.com</a></p>
				<h2>友情链接：</h2>
				<p><a href="https://www.baidu.com/" target="_blank"><i class="iconfont2">&#xe649;</i>百度一下</a></p>
				<p><a href="http://hongyan.cqupt.edu.cn/" target="_blank"><i class="iconfont2">&#xe607;</i>红岩网校</a></p>
				</div>
			</div>
		</div>
		<div class="bottom"></div>
	</div>

</body>

</html>