html, body, textarea, div {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
#add-content {
    display: block;
    width: 902px;
    margin: 30px auto 70px;
}
#title {
    font-size: 24px;

    width: 898px;
    margin-bottom: 10px;
}
#submit {
    font-family: microsoft yahei;
    font-size: 20px;

    width: 100px;
    height: 40px;
    margin-top: 5px;

    letter-spacing: 10px;

    color: #fff;
    border: none;
    background-color: #474546;
}
#select {
    display: inline-block;
    width: 140px;
    margin: 0 0 5px 0;
}
#addcat {
    display: inline-block;
    width: 70px;
}
#addcat-body {
    display: block;
    width: 500px;
    height: 150px;
}