body, div, p, ul, li {
    margin: 0;
    padding: 0;
}
html {
	width: 100%;
	height: 100%;
}
body {
	background-image: url('../Images/bg.jpg');
	width: 100%;
	height: 100%
}
ul {
	list-style-type: none;
}
iframe {
	display: block;
	width: 100%;
	height: 100%;
}
#head-bar {
	position: fixed;
	height: 40px;
	width: 100%;
	background-color: #474546;
	font-family: microsoft yahei;
	font-size: 20px;
}
#homepage {
	display: inline-block;
	width: 60px;
	height: 100%;
	padding: 0 45px;
	line-height: 37px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	letter-spacing: 4px;
	transition: all 0.5s;
}
#logout {
	display: inline-block;
	width: 50px;
	height: 100%;
	padding: 0 45px;
	line-height: 37px;
	float: right;
	color: #fff;
	text-decoration: none;
	text-align: center;
	transition: all 0.5s;
}
#left-lead {
	position: fixed;
	top: 40px;
	display: block;
	width: 150px;
	height: 100%;
	background-color: #474546;
	color: #fff;
	font-family: microsoft yahei;
	text-align: center;
}
#content-manage, #other {
	padding: 5px 0;
	letter-spacing: 4px;
}
#content-manage-name, #other-name  {
	line-height: 33px;
	cursor: pointer;
	font-weight: 600;
	transition: all 0.5s;
}
.content-manage-son, .other-son {
	transition: all 0.5s;
}
#right {
	position: fixed;
	top: 40px;
	left: 150px;
	display: block;
	width: 100%;
	height: 100%;
}
.content-manage-son > a {
	display: block;
	text-decoration: none;
	color: #fff;
}
.other-son > a {
	display: block;
	text-decoration: none;
	color: #fff;
}
#homepage:hover {
	background-color: black;
	color: #ff5f21;
}
#logout:hover {
	background-color: black;
	color: #ff5f21;
}
#content-manage-name:hover {
	background-color: black;
	color: #ff5f21;
}
#other-name:hover {
	background-color: black;
	color: #ff5f21;
}
.content-manage-son:hover {
	background-color: black;
}
.content-manage-son a:hover {
	color: #ff5f21;
}
.other-son:hover {
	background-color: black;
}
.other-son a:hover {
	color: #ff5f21;
}
