body, div, p, ul, li {
    margin: 0;
    padding: 0;
}
html {
	height: 100%;
}
body {
	background-image: url('../Images/bg.jpg');
	height: 100%
}
ul {
	list-style-type: none;
}
#head-bar {
	height: 40px;
	background-color: #474546;
	font-family: microsoft yahei;
	font-size: 20px;
}
#homepage{
	display: inline-block;
	width: 60px;
	height: 100%;
	padding: 0 45px;
	line-height: 37px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	letter-spacing: 4px;
}
#logout {
	display: inline-block;
	width: 50px;
	height: 100%;
	padding: 0 45px;
	line-height: 37px;
	float: right;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
#left-lead {
	position: fixed;
	display: block;
	width: 150px;
	height: 100%;
	background-color: #474546;
	color: #fff;
	font-family: microsoft yahei;
	text-align: center;
}
#content-manage {
	padding: 10px 0;
	letter-spacing: 4px;
}
#content-manage-name {
	line-height: 33px;
	cursor: pointer;
	font-weight: 600;
}
.content-manage-son > a{
	display: block;
	text-decoration: none;
	color: #fff;
}
