html, body, div {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	width: 100%;
}
#info {
	display: block;
	margin: auto;
	width: 1000px;
	height: 100%;
}
#card {
	display: block;
	margin: auto;
	width: 500px;
	height: 300px;
	background-color: #999;
	font-family: microsoft yahei;
	color: #fff;
}