html, body, div, p, article, h1 {
    margin: 0;
    padding: 0;
}
html, body {
	width: 100%;
	height: 90%;
}
div, #body {
	display: block;
}
h1 {
	text-align: center;
	font-family: microsoft yahei;
	margin-bottom: 5px;
}
hr {
	width: 540px;
	margin-left: 10px;
	border: none;
	height: 1px;
	background-color: rgba(153,153,153,0.3);
}
#title{
	text-decoration: none;
	color: #ff5f21;
}
#body {
	margin-left: 25px;
	width: 500px;
	height: 198px;
	word-break: break-all;
	overflow: hidden;
	font-size: 22px;
}
#show {
	width: 1260px;
	margin: 40px auto 70px;
}
#info {
	color: #999;
}
#time {
	color: #999;
	display: block;
	width: 81px;
	float: right;
	margin-right: 55px;
}
#search {
	display: block;
	color: rgb(153,153,153);
	text-align: right;
	margin-bottom: 10px;
}
#search-txt {
	width: 165px;
	height: 25px;
	font-size: 18px;
}
#search-btn {
	border: none;
	background-color: #f9320c;
	font-family: microsoft yahei;
	color: #fff;
	line-height: 30px;
	cursor: pointer;
	width: 65px;
	height: 31px;
}
#page {
	clear: both;
	text-align: center;
}
.article {
	width: 600px;
	height: 330px;
	margin-bottom: 20px;
	margin-right: 30px;
	float: left;
}
